
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.ttf"), url("../fonts/Roboto-BlackItalic.ttf"),
    url("../fonts/Roboto-Bold.ttf"),url("../fonts/Roboto-LightItalic.ttf"),
    url("../fonts/Roboto-BoldItalic.ttf"),url("../fonts/Roboto-Medium.ttf")
    url("../fonts/Roboto-Italic.ttf"),url("../fonts/Roboto-MediumItalic.ttf")
    url("../fonts/Roboto-Light.ttf");
    }
  
  @font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/static/Raleway-Black.ttf") format("truetype"),
    url("../fonts/static/Raleway-Bold.ttf") format("truetype"),
    url("../fonts/static/Raleway-ExtraBold.ttf") format("truetype");
  }