* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  @font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf"), url("../fonts/Roboto-BlackItalic.ttf"),
  url("../fonts/Roboto-Bold.ttf"),url("../fonts/Roboto-LightItalic.ttf"),
  url("../fonts/Roboto-BoldItalic.ttf"),url("../fonts/Roboto-Medium.ttf")
  url("../fonts/Roboto-Italic.ttf"),url("../fonts/Roboto-MediumItalic.ttf")
  url("../fonts/Roboto-Light.ttf");
  }

  @font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/static/Raleway-Black.ttf") format("truetype"),
    url("../fonts/static/Raleway-Bold.ttf") format("truetype"),
    url("../fonts/static/Raleway-ExtraBold.ttf") format("truetype");
  }

body {
  font-family: "Roboto", sans-serif;
  background-color: #252525;
}


/*Nav*/

a{
  text-decoration: none;
}
ol,ul{
  list-style: none;
}

.header {
  position: relative;
  z-index: 9999;
  height: 80px;
  background-color:#222222;
}
.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
}
.menu_hamburguesa{
  display: none;
}
.menu_hamburguesa:checked + .ul_enlace {
  height: calc(100vh - 80px);
}
.logo {
  color: #fff;
}

.list_icon {
  color: #fff;
  cursor: pointer;
}
.ul_enlace {
  width: 100%;
  background-color: #222222;
  position: absolute;
  top: 80px;
  left: 0;
  height: 0;
  overflow: hidden;

  /* height: calc(100vh - 80px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  transition: all .3s;
}

.enlace {
  font-size: 3em;
  color: #fff;
  font-weight: 300;
}

@media (max-width: 576px) {
  .enlace {
      font-size: 2em;
  }
}

@media (min-width:768px){
  .labe_hamburguesa {
      display: none;
  } 
}

  .ul_enlace {
    width: 100%;
    background-color: #222222;
    position: fixed; 
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: all .3s;
  }
  
  @media (min-width: 768px) {
    .ul_enlace {
      position: static;
      width: auto;
      height: auto;
      flex-direction: row;
      gap: 2rem;
      z-index: auto;
    }
  }

  .enlace{
      font-size: 1.2rem;
      transition: all .3s;
      padding: .2rem .7rem;
  }
  .enlace:hover{
      color: #ff164b;
  }

/*Main Titles*/

.main-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-title h1 {
  margin: 0;
  color: #fff;
}

/*work-cards*/

.card-group {
  margin: -2px;
}

/*Sección Info*/

.info-section {
  margin: 70px 0 30px 0;
}

.intro-txt {
  font-size: 25px;
}

/*director-cards*/

.director-info-section {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.director-txt1 {
  width: 600px;
  padding: 20px;
}

.director-info-section button {
  margin: 10px 0 0 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
}

.director-info-section h2,
p {
  line-height: 1.5;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.director-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.director-cards-wrap {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}

.director-div {
  position: relative;
  display: inline-block;
}

.director-div:hover .overlay {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 270px;
  background-color: rgba(121, 13, 72, 0.7);
  display: none;
}

.overlay p {
  color: #fff;
  margin-top: 200px;
  margin-left: 20px;
}

.overlay:hover {
  display: block;
}

/*BUTTON Ver Más*/

.my-button {
  margin-left: 50px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
}

/*info-section*/

.info-section {
  margin: 130px 0 50px 0;
}

.info-txt1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  line-height: 1.5;
  margin-left: 50px;
  width: 600px;
  color: #fff;
}

/*Service cards*/

.srvice-cards {
  display: flex;
  width: 95%;
}

.service-cards-container {
  display: flex;
  width: 100%;
}

.half-width {
  flex: 1;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.service-info-section {
  text-align: center;
}

.service {
  margin: 70px 0 70px 0;
  text-align: center;
}

/*Servicios*/

.white {
  background-color: #fff;
}
.servicios_encabezados {
  font-size: calc(10px + 9.9vw);
  font-family: 'Helvetica Neue', sans-serif;
  font-weight:900;
  color: #222222;
}

.servicios_link {
  font-size: calc(10px + 1.0vw);
  font-weight:600;
}

.servicios_link a {
  color: #222222; 
  font-family: 'Helvetica Neue', sans-serif; 
  text-decoration: underline;
}

.servicios_parrafo {
  font-size: calc(5px + 1.0vw);
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  color: #ffffff;
}

/*Contact*/

.contact-info-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-txt1,
.contact-txt2 {
  width: 400px;
  text-align: center;
  margin-bottom: 60px;
}

.contact-txt1 h2,
p {
  color: #fff;
}

.contact-txt2 h2,
p {
  color: #fff;
}

/*Form*/

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 100px;
}

/*Footer*/
.custom-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  background-color: #222222; 
  color: #fff; 
}

.custom-footer a {
  color: #fff; 
}

/*Hover icons*/

.icon-X:hover img,
.icon-IG:hover img,
.icon-YT:hover img {
  transform: scale(1.2);
  opacity: 0.8;
  transition: transform 0.5s ease-in-out;
}

.icon-X:hover img {
  content: url(../imagenes/RRSS/X-Red.png);
}

.icon-IG:hover img {
  content: url(../imagenes/RRSS/IG-Red.png);
}

.icon-YT:hover img {
  content: url(../imagenes/RRSS/YT-Red.png);
}